body {
  background-image: url("/Users/shafiqaabdat/calculator/src/Assets/4df86544e1cb945689f92a729a11192c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.calculator {
  margin: 20px auto;
  width: 40vh;
  padding: 20px;
  background-color: #021c2e;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-family: bradley hand, cursive;
  margin-top: 15vh;
}
