body {
  background-image: url("/Users/shafiqaabdat/calculator/src/Assets/4df86544e1cb945689f92a729a11192c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.calculator {
  /* max-width: 260px; */
  margin: 20px auto;
  width: 40vh;

  padding: 20px;
  background-color: #021c2e;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-family: bradley hand, cursive;
  margin-top: 15vh;
}

.display {
  font-size: 24px;
  padding: 10px;
  background-color: #021c2e;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid #3185c6;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  background-color: #9dcaed;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: bradley hand, cursive;
  font-size: 1.2em;
  color: #021c2e;
}

button:hover {
  background-color: #f2dfdf;
}
